[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonrpcserver = "*"
requests = "*"
jsonrpcclient = "*"
numpy = "*"
pyqt5 = "*"
pyuic5-tool = "*"

[dev-packages]

[requires]
python_version = "3"
